body{
  overflow: hidden;
  background: url('./images/background.jpg');
  width: 100%;
}
.main{
  position: absolute;
}
.cloud2{
  position: relative;
  left: 700%;
  width: 150px;
}
.cloud1{
  width:150px;
  position: absolute;
  left: 700%;
}

.cloud3{
  width:150px;
  position: absolute;
  left: 700%;
}
/* bottm  */
.cat{
  width: 100px;
  top:80%;
  left: 55%;
  position:absolute;
}
.grass{
  width: 100%;
  position: fixed;;
  top:87%;
}
.walking{
  width: 200px;
  position: fixed;
  top: 56%;
  left: 19%;
}
.palm{
  position: fixed;
  top: 36%;
  left: 100%;
  width: 12%;
}
.pawn{
  position: fixed;
  top: 70%;
  left: 100%;
  width: 12%;
}
/* RedQueenAlice */
#red-queen_and_alice {
	position: absolute;
	top: 75%;
	left: 40%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	width: 20%;
  max-width: 450px; /*height: 783px / 2*/
	z-index: 1;
}
#red-queen_and_alice img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
#red-queen_and_alice:before {
	content: " ";
	display: block;
	padding-top: 87%;
}